*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#FDF9F3;
}


/* color variables */
:root{
    --purple: #8c38ff;
    --dark: #212121;
    --green: #2ECDAA;
    --grey: #71726C;
}




/* Navigation Bar */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(51, 53, 53); */
    /* background-color: var(--dark); */
    color: grey;

    /* border-bottom: 5px solid var(--blue); */
}


/* logo */



.img-container{
    margin-top: 0.5rem;
}
.img-container > img{
    width: 120px;

}


.navbar-links ul{
    display: flex;
    margin: 0; /*fixing margin and padding between each ul item*/
    padding: 0;
}
.navbar-links li{
    list-style-type: none;
}


.navbar-links li a{
    text-decoration: none;
    color: var(--grey);
    padding: 1rem;
    display: block; /* creates a block*/
    transition: 400ms transform ease-in-out;

}


.navbar-links li a:hover{
    color: var(--green);
    transform: scale(1.2);
}


.toggle-button{
    /* position item to the  top left of the screen */
    position: absolute;
    top: 1rem;
    right: 1rem;

   display: none; /*to only show on mobile screen*/
   flex-direction: column; /*spans are in column*/
   justify-content: space-between;/*add space between each span*/


   width: 30px; 
   height: 21px;
}

.toggle-button .bar{
    height: 3px; /*height of actual span  bar*/
    width: 100%;

    background-color: var(--grey);
    border-radius: 10px;
}



@media (max-width:600px) {
    .toggle-button{
        display: flex; /*display button*/
    }
    .navbar-links{
     /*hide navlinks*/ 
     display: none;  
        width: 100%; /*aligining the text to center*/
    }


    .navbar{
        flex-direction: column;
        align-items: flex-start;
        
    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%; /*aligining text to center and eaiser to click*/
    }

    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        margin-top: 3rem;
        padding: 2rem 1rem ;
    }
    .img-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .img-container> img{
        width: 100px;
    }

    .navbar-links li a:hover,li a:focus{
        color: var(--green);
        transform: scale(1);
    }



    /* onlclick make it active */
    .navbar-links.active{
        display: flex;
    }  
}




